# Ignore helmet photo input/output folders
images/
crops/
labels/
runs/

# PyTorch model checkpoint files
*.pt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
.env/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Container artifacts
*.log
*.pid
*.sock
